* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	padding-top: 40px;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

tt, code, pre {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

#footer_hook {
  margin-top: 5px;
}

