.stat {
	position: absolute;
	top:2px;
	right: 10px;
	display: none;
}

#post_time {
	width: 100px;
	text-align: center;
}

thead {
  font-weight: bold;
}

#post_title {
	position: relative;
}

#announcement {
  margin-top: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

#top_comment {
  margin-top:20px;
}
