* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
}

body {
	background: #fff;
	padding-top: 40px;
}

a {
    text-decoration:none;
}

a:hover {
}

a:visited {
}

a:active {
}

#stat {
	position: absolute;
	top:2px;
	right: 10px;
}

#post_no {
	width: 30px;
	text-align: center;
}

#post_title {
	position: relative;
}

#header_bg {
  height: 200px;
  margin-bottom: 20px;
  background: url('../img/bg1.gif') repeat-x;
}

#header {
  color: white;
}

#header h1 {
  margin-top: 70px;
}

#header span {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
}

.affix {
  top: 60px;
}
